.title {
  display: flex;
  align-items: center;
}
.abc::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 18px;
  margin-bottom: 1px;
  background-color: blue;
}
.text {
  margin: 0 10px 0px 7px;
}
.row {
  background-color: rgb(182, 182, 207);
}

.ant-table-selection-column {
  visibility: hidden !important;
}

.chart1 {
  width: 40%;
}

.chart2 {
  width: 40%;
}
